.footer {
  &-desc {
    background-color: #353c36;
    color: #fff;
    display: flex;
    padding: 36px 16px;
    gap: 16px;
    text-align: left;
    margin-bottom: 20px;
  }

  &-content {
    h4 {
      color: #56b947;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    p {
      color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 8px;
    }
    span {
      display: block;
      margin-top: 40px;
      font-size: 10px;
      font-weight: 400;
      line-height: normal;
    }
  }
  //   Bottom bar
  &-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;

    .footer-btn {
      color: #989898;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.footer-bar::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border-color: red;
  border-style: solid;
  border-width: 1px;

}
